@import url("https://fonts.googleapis.com/css2?family=Alike+Angular&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Geist+Mono:wght@100..900&family=Nerko+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  margin: .2rem ;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #0d00ff;
  color: #fff;
  padding: 1.5rem;
  text-shadow: 0 2px 5px #000000;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px 5px #bfb8b8;
}

.header img {
  width: 50px;
  mix-blend-mode: multiply;
}

.list{
  display: flex;
  flex-direction: row;
  margin: 0.2rem;
  padding: 1rem;
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 1rem;
}

.list-items {
  background-color: #fff;
  box-shadow: 0 0 10px #bfbfbf;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  flex: 1;
  gap: 2rem;
}

.date{
  display: flex;
  align-self: flex-end;
  font-size: 8pt;
}

/* Button styling */
button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 20px;
}

.button {
  background: #0d00ff;
  padding: 0.5rem;
  border-radius: 2rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 20pt;
  font-weight: bolder;
  cursor: pointer;
  color: #fff;
  transition: 2s;
}

.button:hover {
  background: conic-gradient(rgb(0, 0, 255), rgb(0, 255, 47), rgb(255, 106, 0));
  color: radial-gradient(green, white);
}

.judul-text {
  margin: 1rem;
}
/* Modal background */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

title {
  background-color: #0d00ff;
}

/* Modal content box */
.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  text-align: center;
  box-shadow: 0 5px 10px 5px #000000;
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  color: #0d00ff;
}

.label {
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.input {
  outline: none;
  border-radius: 0.5rem;
}

.input-class {
  border: 2px solid rgb(0, 4, 255);
  padding: 0.5rem;
}

.text-area {
  border: 2px solid rgb(0, 4, 255);
  height: 100px;
}

/* Close button styling */
.close {
  background-color: #ff0000;
  color: #fff;
  padding: 0.2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  top: -1rem;
  right: -1rem;
  cursor: pointer;
}

.btn-submit {
  background-color: blue;
  border-radius: 2rem;
  display: flex;
  align-self: center;
  border: none;
  color: #fff;
  font-family: "Times New Roman", Times, serif;
  font-weight: bolder;
  transition: 2s;
}

.btn-submit:hover {
  transition-timing-function: ease;
  background: conic-gradient(blue, #000000);
  color: #ff0000;
}
